<h1 class="subject">Edit Your Profile:</h1>
<%= form_for @user do |f| %>
  <div class="context">
    <% if @user.errors.messages != {}%>
      <p>Error:</p>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message%></li>
      <%end%>
    <%end%>
    <%= f.label :First_Name %>
    <%= f.text_field :first_name %></br>
    <%= f.label :Last_Name%>
    <%= f.text_field :last_name %></br>
    <%= f.label :Live_in_Detroit%>
    <%= f.select :live_in_detroit, options_for_select([["Yes",true],["No",false]], @user.live_in_detroit) %> </br>
    <p class="detroit_info">
      <span> NOTE IF YOU DON'T LIVE IN DETROIT: You will not be placed in a peer group and can only mentor currently</p>
    <%= f.label :top_3_interests%></br>
    <div class="interests">
      <% @interests.each_with_index do |interest,index| %>
        <% if (index + 1) % 3 == 0 %>
          <div><%= check_box_tag 'user[top_3_interests][]', interest, @user.top_3_interests.include?(interest) %>
          <%= f.label :interest, interest.humanize, :value => interest, class:"check"%></div></br>
        <%else%>
          <div><%= check_box_tag 'user[top_3_interests][]', interest, @user.top_3_interests.include?(interest) %>
          <%= f.label :interest, interest.humanize, :value => interest, class:"check"%></div>
        <%end%>
      <%end%></br>
    </div>
  </div>
  <div class="context">
    <%= f.label :Primary_Industry%>
    <% @industries.each do |industry| %>
      <%= f.radio_button :primary_industry, industry%>
      <%= f.label :industry, industry.humanize, :value => industry%>
    <%end%>
      <%= f.radio_button :primary_industry, "Other"%>
      <%= f.label :Other, "Other".humanize, :value => "Other"%></br>
    <%= f.label :Current_Goal%>
    <%= f.select :current_goal, options_for_select([["Rising the ranks / breaking the glass ceiling","Rising the ranks / breaking the glass ceiling"],["Switching industries","Switching industries"],["Finding work/life balance","Finding work/life balance"]], @user.current_goal)%> </br>
    <h4> I would like to meet peers in:
    <% @industries.each do |industry| %>
      <%= f.radio_button :peer_industry, industry%>
      <%= f.label :industry, industry.humanize, :value => industry%>
    <%end%></h4>
    <%= f.label :Stage_of_Career%>
    <p><span>NOTE TO THOSE WORKING IN STARTUPS:</span> Rate your stage of career more on experience level than position title. For example, if you're just starting out in your new company, being a CEO is probably equivalent to management level, not CEO level.</p>
    <%= f.select :stage_of_career, options_for_select([["Intern/Apprentice/Aspiring",1],["Gaining a foothold",2],["Management / Senior",3],["Director/VP/Chief Architect",4],["C-Level/Founder",5]], @user.stage_of_career)%> </br>
    
  </div>
  <div class="context">
    Would you like to <%= f.label :Mentor%>?
    <%= f.select :mentor, options_for_select([["Yes",true],["No",false]], @user.mentor), { :class => 'mentoring' } %> </br>
    <div id="mentor_info">
      I would like to mentor in:
      <% @industries.each do |industry| %>
        <%= f.radio_button :mentor_industry, industry%>
        <%= f.label :industry, industry.humanize, :value => industry%>
      <%end%></br>
      How many times would you like to mentor per month?
      <%= f.number_field :mentor_limit, in: 0..10%></br>
    </div>

    <p>PS -- we'd love if you told some friends or tweeted something like "I just joined @TheWomenRising, an awesome new #Detroit network for women to connect, support and mentor each other! http://www.womenrising.co"</p>

    <%= f.submit "Submit", class:"btn"%>
  </div>
<%end%>
  
