
<%= form_for @user do |f| %>
  <% if @user.errors %>
    <p>Error:</p>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message%></li>
    <%end%>
  <%end%>
  <%= f.label :First_Name%>
  <%= f.text_field :first_name %></br>
  <%= f.label :Last_Name%>
  <%= f.text_field :last_name %></br>
  <%= f.label :Primary_Industry%>
  <% @industries.each do |industry| %>
    <%= f.radio_button :primary_industry, industry%>
    <%= f.label :industry, industry.humanize, :value => industry%>
  <%end%></br>
  <%= f.label :Stage_of_Career%>
  <%= f.select :stage_of_career, options_for_select([["Intern/Apprentice/Aspiring",1],["Gaining a foothold",2],["Management / Senior",3],["Director/VP/Chief Architect",4],["C-Level/Founder",5]], @user.stage_of_career)%> </br>
  <%= f.label :Current_Goal%>
  <%= f.select :current_goal, options_for_select([["Rising the ranks / breaking the glass ceiling","Rising the ranks / breaking the glass ceiling"],["Switching industries","Switching industries"],["Finding work/life balance","Finding work/life balance"]], @user.current_goal)%> </br>
  <%= f.label :Mentor%>
  <%= f.select :mentor, options_for_select([["Yes",true],["No",false]], @user.mentor) %> </br>
  <%= f.label :Mentor_industry%>
  <% @industries.each do |industry| %>
    <%= f.radio_button :mentor_industry, industry%>
    <%= f.label :industry, industry.humanize, :value => industry%>
  <%end%></br>
  <%= f.label :Peer_industry%>
  <% @industries.each do |industry| %>
    <%= f.radio_button :peer_industry, industry%>
    <%= f.label :industry, industry.humanize, :value => industry%>
  <%end%></br>
  <%= f.label :Live_in_Detroit%>
  <%= f.select :live_in_detroit, options_for_select([["Yes",true],["No",false]], @user.live_in_detroit) %> </br>
  <%= f.label :top_3_interests%>
   <% @interests.each do |interest| %>
    <%= check_box_tag 'user[top_3_interests][]', interest, @user.top_3_interests.include?(interest) %>
    <%= f.label :interest, interest.humanize, :multiple => true%>
  <%end%></br>
 <%= f.submit "Submit", class:"btn"%>
<%end%>
