<br>
<br>
<br>

<aside class="col-md-3 col-md-offset-1 side-divider">
  <%= image_tag(@user.get_image_url, class: "profile") %>
  <div class="large-frame">
    <h2><%= @user.full_name %></h2>
  </div>

  <% if @user == current_user && @mentor_mentorships.present? %>
    <h4>Your Mentors</h4>
    <ul class="mentor-list">
      <% @mentor_mentorships.each do |mentorship| %>
        <li title="<%= mentorship.question %>">
          <%= image_tag mentorship.mentor.get_image_url rescue content_tag(:div, nil, class: 'profile-placeholder') %>
          <p>
            &quot;<%= truncate(mentorship.question) %>&quot;
            <br>
            <% if mentorship.mentor %>
              <a href="<%= user_path mentorship.mentor %>">
                <%= mentorship.mentor.full_name %>
              </a>
            <% else %>
              <em>Pending</em>
              <%= link_to "Cancel", mentorship_path(mentorship), method: :delete %></br>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @user == current_user && @mentee_mentorships.present? %>
    <h4>Your Mentees</h4>
    <ul class="mentor-list">
      <% @mentee_mentorships.each do |mentorship| %>
        <li>
          <%= image_tag mentorship.mentee.get_image_url %>
          <p>
            &quot;<%= truncate(mentorship.question) %>&quot;
            <br>
            <a href="<%= user_path mentorship.mentee %>">
              <%= mentorship.mentee.full_name %>
            </a>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @user == current_user %>
    <div>
      <%= link_to "Mentorship History", mentorships_path, class: 'btn medium-frame btn-secondary' %>
    </div>
  <% end %>

  <% if @user.peers.any? %>
    <h4><%= @user == current_user ? 'Your' : '' %> Peers This Month</h4>
    <ul class="profile-list">
      <% @user.peers.each do |peer| %>
        <li>
          <a href="<%= user_path peer %>">
            <%= image_tag peer.get_image_url %>
            <h5><%= peer.full_name %></h5>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</aside>

<main class="col-md-8 side-frame container-fluid">
  <div class="blog-main">
    <div class="row">
      <% if @user == current_user %>
        <section class="actions">
          <div class="col-md-7">
            <h3 class="subject no-frame">Will you participate in peer matches this month?</h3>
            <h4 class="participating"><%= @user.is_participating_this_month ? "YES" : "NO"%>&nbsp;
              <% if !@user.is_participating_this_month %>
                <%= link_to "Click to participate this month", participate_path(@user), class: "btn medium-frame"%></br>
              <% else %>
                <%= link_to "Click to not participate this month", not_participate_path(@user), class: "btn medium-frame"%></br>
              <% end %>
            </h4>
          </div>
          <div class="col-md-5">
            <h3 class="subject no-frame">Request A Mentor</h3>
            <%= link_to "Request a Mentor", new_mentorship_path, class: "btn", id: "mentor-button" %>
          </div>
        </section>
        <% if @user.waitlist%>
          <section class="waitlist large-frame">
            <h2 class="no-frame">Status: <span>Waitlisted</span></h2>
            <p class="tiny-frame">Either because you made your primary career 'Other' (which we currently don't support yet) or you did not finish your profile</p>
          </section>
        <% end %>
      <% end %>
    </div>
    <section class="context">
      <h2>Info</h2>
      <div class="row flush">
        <div class="col-md-6 flush">
          <h4 class="medium-frame">Location: <div><%= @user.location.city_state rescue 'N/A' %></div></h4>
          <h4 class="medium-frame">Primary Industry: <div><%= @user.primary_industry%></div></h4>
          <h4 class="medium-frame">Goal Right Now: <div><%= @user.current_goal%></div></h4>
          <div class="medium-frame">
            <h4 class="no-frame">My Top 3 non-career interests are: </h4>
            <ul>
              <% @user.top_3_interests.each do |interest|%>
                <li><h4 id="gray-text"><%= interest%></h4></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="medium-frame">Email: <div><%= @user.email%></div></h4>
          <h4 class="medium-frame">Stage Of Career: <div><%= @career_stages.key(@user.stage_of_career) %></div>
          </h4>
          <h4 class="medium-frame">I want to find peers in this industry: <div><%= @user.peer_industry%></div></h4>
          <% if @user.mentor == true %>
            <h4 class="medium-frame">Industries I will mentor in:
              <% @user.mentor_industry_users.each do |miu| %>
                <ul>
                  <li>
                    <div><strong><%= miu.name %></strong> as a <%= miu.career_stage %> in the industry.</div>
                  </li>
                </ul>
              <% end %>
            </h4>
          <% end %>
        </div>
      </div>
    </section>
    <% if @user == current_user %>
      <section class="edit">
        <%= link_to "Edit My Profile", edit_user_path(@user), class: "btn medium-frame" %>
      </section>
    <% end %>
  </div>
</main>
</div>
