<% if @user.waitlist%>
  <h1>Waitlist</h1>
  <p>either because you gave other that we don't support yet or because you did not finish your profile</p>
<%end%>
<h3>Name: <%= @user.first_name%> <%= @user.last_name%></h3>
<h4>Primary Industry: <%= @user.primary_industry%></h4>
<h4>Stage Of Career: <% case @user.stage_of_career
                        when 1%><%= "Intern/Apprentice/Aspiring"%>
                      <%when 2%><%= "Gaining a foothold"%>
                      <%when 3%><%= "Management / Senior"%>
                      <%when 4%><%= "Director/VP/Chief Architect"%>
                      <%when 5%><%= "C-Level/Founder"%>
                      <%end%>
</h4>
<h4>Goal Right Now: <%= @user.current_goal%></h4>
<% if @user.mentor == true %>
  <h4>I will mentor for: <%= @user.mentor_industry %></h4>
<%end%>
<h4>I want to be a peer with: <%= @user.peer_industry%></h4>
<h4>My Top 3 non-career interests are <%= @user.top_3_interests%></h4>

