<nav>
  <div class="logo">
    <%= image_tag "logo.png" %>
  </div>
  <ul class="headerNav">
    <li><a href="/" class='active'>Home</a></li>
    <li><a href="/#featured">Featured</a></li>
    <li><a href="/#howitworks">How It Works</a></li>
    <li><a href="/#partners">Partners</a></li>
    <li>
      <% if user_signed_in? %>

        <a href=<%=user_path(@user)%> class="avatar">
          <% if @user.get_image_url %>
            <%= image_tag @user.get_image_url, class:"img-circle img-responsive" %>
          <% end %>
          <%= @user.full_name %>
        </a>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign in", user_omniauth_authorize_path('linkedin'), class:"with-border" %>
      <% end %>
    </li>
  </ul>
</nav>
