<div class="wrapper">
	<h1 class="subject">Request A Mentor</h1>
	<div class = "mentor">
		<h3>What would you like to talk with your mentor about?</h3>
		<%= form_for @mentor do |f| %>
		  <% if @mentor.errors.messages != {}%>
		    <h3>You have errors:</h3>
		    <% @mentor.errors.messages.each_with_index do |message,index|%>
		      <li><h4><%=message[0]%></h4><p><%=message[1][0]%></p></li>
		    <%end%>
		  <%end%>
		  <%= f.text_field :question  %>
		  <%= f.submit "Submit", class:"btn"%>
		<%end%>
	</div>

</div>
