<div class="container mentorships-index">
  <table class="table">
    <thead>
      <tr>
        <th>Mentor</th><th>Mentee</th><th>Question</th><th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% @mentorships.each do |mentorship| %>
        <tr class="mentorship--row">
          <td class="mentorship--mentor">
            <% if mentorship.mentor == current_user %>
              <%= current_user.full_name %>
            <% elsif mentorship.mentor %>
              <%= link_to mentorship.mentor.full_name, user_path(mentorship.mentor) %>
            <% else %>
              <i>Pending</i>
              <%= link_to "Cancel", mentorship_path(mentorship), method: :delete %></br>
            <% end %>
          </td>
          <td class="mentorship--mentee">
            <% if mentorship.mentee == current_user %>
              <%= current_user.full_name %>
            <% else %>
              <%= link_to mentorship.mentee.full_name, user_path(mentorship.mentee) %>
            <% end %>
          </td>
          <td class="mentorship--question">
            <%= mentorship.question %>
          </td>
          <td class="mentorship--created-at">
            <%= l mentorship.created_at.to_date, format: :default %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
