<!DOCTYPE html>
<html>
<head>
  <title>Womenrising</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path %>
    <%else%>
      <%= link_to "Sign In with LinkedIn", user_omniauth_authorize_path('linkedin') %>
    <%end%>
  </nav>

<%= yield %>

</body>
</html>
